<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @group.members %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @group.initial_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @group.gender %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
