<%= form_with(model: concert, local: true) do |form| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.select :group_id, options_for_select(@group) %>
  </div>


  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :crowd %>
    <%= form.number_field :crowd %>
  </div>

        <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration,class:"form-control" %>
    <p class="text-success">"Remember insert minutes format"</p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
